.about{
  height: 100vh;
  background-color: #565654;
  padding: 300px 150px 0;

  &__sections{
    display: flex;
    position: relative;
    

    &__texts{
      width: 100%;
      z-index: 10;
      position: absolute;
      left: 0;

      &__first{
        font-size: 30px;
        padding-right: 700px;
        font-weight: bold;

      }

      &__bodies{
        width: 100%;
      
        &__left-body{
          width: 40%;
          min-height: 300px;
          float: left;
          text-align: left;
          padding: 50px 0 0 30px;

          &__left-message{
            word-break: break-all;
          }
          &__buttons{
            position: absolute;
            bottom: 0;
            &__button{
              width: 100px;
              height: 20px;
              padding: 20px;
              margin: 10px;
              border-radius: 6px;
              background-color: #fff;
              color: black;
              text-decoration: none;
              letter-spacing: 1px;
              font-size: 0.7rem;
            
            }
            
          }
          &__buttons a{
            opacity: 0.2;
          }
          &__buttons a:hover{
            opacity: 0.3;
          }

        }
        &__right-body{
          float: right;
          width: 20%;
          padding-top: 30px;

          &__right-message{
            line-height: 50px;
            word-break: break-all;
          }
        }
      }
    }
    &__image {
      z-index: 0;
      position: absolute;
      right: 0;
      padding: 30px 110px 0 0;
    }
    &__image img{
      width: 300px;
      height: auto;
      -webkit-transition: all 1s;
      -webkit-transform: translate(0, 0);
      opacity: 1;
          
    }
    &__image img.move {
      -webkit-transform: translate(-10px, 0);
      opacity: 0.1;
    }
  
    
  }
}


