.show-contents{
  height: 100vh;
  background-color: #252625;

  &__content{
    &__title{
      padding-top: 50px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;

    }


    &__image{
      padding-bottom: 50px;
    }

    &__image img{
      max-width: 500px;
      max-height: 400px;
    }

    &__lists{
      
      &__list{
      margin: 10px;

        &__text{
          color: #fff;

        }
      }
    }

    &__name{
      margin: 10px;

    }
    &__back{
      color: #fff;
      

    }
    

  }

  
  

}