/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./reset";
@import "./style";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "./layouts/header";
@import "./layouts/footer";

@import "./devise/user";

@import "./users&products/show";

@import "./products/topmain";
@import "./products/products";
@import "./products/about";
@import "./products/new";

body {
  color: #fff;
  text-align: center;
  font-size: 17px;
  // font-family: '超極細ゴシック体';
}
