.topmain__slider__left-contents
  .topmain__slider__left-contents__content
    %p.topmain__slider__left-contents__content__site-title-sub ----- Web application portfolio -----
    %h1.topmain__slider__left-contents__content__site-title Favorite Architecture
    %p.topmain__slider__left-contents__content__site-description Post your Favorite Architectural Photo
.topmain__slider__right-contents





