.topmain__slider__left-contents
  .topmain__slider__left-contents__content
    %p.topmain__slider__left-contents__content__site-title-sub ----- Web application portfolio -----
    %h1.topmain__slider__left-contents__content__site-title What is your Favorite Architect?
    %p.topmain__slider__left-contents__content__site-description Which one do you like
.topmain__slider__right-contents
