.about{
  height: 100%;
  background-color: #565654;
  padding: 150px;

  &__sections{
    padding-top: 150px;
    
    &__texts{
      width: 100%;
      z-index: 10;

      &__first{
        font-size: 30px;
        padding-right: 700px;
        font-weight: bold;
      }
      &__bodies{
        width: 100%;
        display: flex;
      
        &__left-body{
          width: 45%;
          min-height: 300px;
          text-align: left;
          padding: 50px 0 0 30px;

          &__left-message{
            word-break: break-all;
          }
          &__buttons{
            padding-top: 150px;
            &__button{
              padding: 12px;
              border-radius: 6px;
              background-color: #fff;
              color: black;
              text-decoration: none;
              font-size: 12px; 
            } 
          }
          &__buttons a{
            opacity: 0.2;
          }
          &__buttons a:hover{
            opacity: 0.3;
          }
        }
        &__right-body{
          width: 35%;

          &__right-message{
            line-height: 50px;
            word-break: break-all;
          }
          &__image {
            z-index: 0;
            padding-left: 230px;
          }
          &__image img{
            width: 300px;
            height: auto;
            -webkit-transition: all 2s;
            -webkit-transform: translate(0, 0);
            opacity: 1; 
          }
          &__image img.move {
            -webkit-transform: translate(-60px, 0);
            opacity: 0.1;
          }
        }
      }
    }
  }
}


