.show-contents{
  &__content{
    height: 100%;
    background-color: #252625;
    padding: 100px;

    &__title{
      padding-bottom: 20px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
    }
    &__image{
      padding-bottom: 5px;
    }
    &__image img{
      width: 500px;
      max-height: 400px;
      object-fit: cover;
    }
    &__lists{
      &__list{
        display: block;
        margin: 10px auto 10px;
        width: 60px;
        height: 20px;
        line-height: 20px;
        background-color: #ffffff63;
        color: black;
        border-radius: 5px;

        &__text{
          color: #fff;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    &__name{
      margin: 10px;
      padding-top: 40px;
    }
    &__container{
      &__textarea{
        margin: 0 auto;
        textarea{
          height: 100px;
          padding:10px;
          width:415px;
          border-radius: 5px;
          font-size: 14px;
        }
        input{
          width: 60px;
          height: 20px;
          line-height: 20px;
          background-color: #ffffff63;
          color: #fff;
          border-radius: 5px;
          border: none;
          font-size: 12px;
          cursor: pointer;
        } 
      }
      &__title{
        padding-top: 30px;
      }
      &__comments{
        padding-top: 20px;
        word-wrap: break-word;
        width: 500px;
        margin: 0 auto;
        h4{
          font-size: 16px;
          line-height: 50px;
        }
        p{
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
    &__back{
      color: #fff;
    }
  }
}