.show-contents{
  &__content{
    height: 100%;
    background-color: #252625;
    padding: 100px 470px 100px;

    &__title{
      height: 50px;
      font-size: 20px;
      font-weight: bold;
    }
    &__name{
      margin: 10px;
    }
    &__text{
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap; 
      word-wrap: break-word;
    }
    &__image{
      padding-bottom: 5px;
      position: relative;
    }
    &__image img{
      width: 500px;
      max-height: 400px;
      object-fit: cover;
    }
    &__lists{
      padding-bottom: 35px;
      &__list{
        display: block;
        margin: 0px 10px 0 0;
        width: 60px;
        height: 20px;
        line-height: 17px;
        background-color: #ffffff63;
        color: black;
        border-radius: 5px;
        float: left;

        &__text{
          color: #fff;
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    &__lists :hover{
      opacity: 0.7;
    }
    &__container{
      padding-top: 30px;
      &__textarea{
        margin: 0 auto;
        textarea{
          height: 100px;
          padding:10px;
          width:415px;
          border-radius: 5px;
          font-size: 14px;
        }
        input{
          width: 60px;
          height: 20px;
          line-height: 20px;
          background-color: #ffffff63;
          color: #fff;
          border-radius: 5px;
          border: none;
          font-size: 12px;
          cursor: pointer;
        } 
        input :hover{
          opacity: 0.7;
        }
      }
      &__btn :hover{
        opacity: 0.7;
      }
      &__title{
        padding-top: 30px;
      }
      &__comments{
        padding-top: 20px;
        word-wrap: break-word;
        width: 500px;
        margin: 0 auto;
        h4{
          font-size: 16px;
          line-height: 50px;
        }
        p{
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
    &__back{
      color: #fff;
    }
  }
}
