.topmain{
  
  &__slider{
    position: relative;
    width: 100%;
    
    &__left-contents{
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      min-height: 100vh;

      &__content{
        padding: 200px 0 200px;
        color: white;
        max-height: 100vh;
        line-height: 90px;

        &__site-title-sub{
          color: white;
          font-size: 30px; 
        }
        &__site-title{
          font-size: 80px;
          font-weight: bold; 
        }
        &__site-description{
          font-size: 30px;
        }   
      }
    } 
    &__right-contents{
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 100vh;
    }
  }
  &__slider img {
    transform-origin: center top;
    transform: scale(1.1);
    transition: 5s ease-out;
    width: 100%;
    height: 100vh;
  }
  &__slider .slick-active img {
    transform: scale(1.0);
  }
}



